<br>
<br>
<caption><h1 align="center" style="color:black"><%= link_to "REGISTER", new_user_path, :class    => "button", :method => :get    %></h1></caption>
<br>


<br>
<caption><h1 align="center" style="color:black"><%= link_to 'BLOG', controller: 'articles' %></h1></caption>
<br>

<br>
<caption><h1 align="center" style="color:black"><%= link_to 'USERS', controller: 'users' %></h1></caption>
<br>

